.heading {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.4rem;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0;
  color: var(--primary);
  width: 40px;
  height: 40px;
}
